.container{
    text-align: center;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    
}
.register{
    margin-top: 5%;
    align-content: center;

}
.register-box{
    border: 1px solid ;
    border-color: rgb(233,233,233);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 40px 20px 40px 20px;
}


input[type=email], input[type=password] {
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid #4285F4 ;
    color: #2b2b2b;
    outline: none;
    padding: 12px;
}
input[type=email]:focus, input[type=password]:focus {
    background-color: #ffffff;
}
.input-box{
    width: 100%;
    display: block;
    margin: 0 auto;
}
.buttonAdd{
    background-color: #4285F4;
    color: #ffffff ;
    outline: none;
    padding: 10px ;
    margin: 10px 0 10px 0;
    box-shadow:0 2px 10px rgba(0, 0, 0, .6);
}
.btnSocial{
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    color: #ffffff;
    margin:20px 0 20px 0;
    outline: none;
    box-shadow:0 2px 10px rgba(0, 0, 0, .6);
}
#btnfb{
    background-color: #4267B2;
    
}
#btngoogle{
    background-color: #DC4A38;
}